@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #0B0E14;
}

::-webkit-scrollbar-thumb {
  background: #1E232F;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2A303F;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #0B0E14;
  color: #F3F4F6;
}
